body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: url("background-starry.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#DiceArea {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 10px;
    justify-content: center;
    padding: 20px;
    border-style: solid;
    margin: 20px;
    span {
        color: white;
        padding: 5px;
    }
}

.Dice {
    width: 70px;
    height: 70px;
    padding: 15px;
    color: rgba(59, 50, 50, 0.19);
}


.ResultText {
    margin: 5px;
    padding: 5px;
    width: 70%;
}

#ResultArea {
    display: grid;
    grid-template-columns: repeat(6, auto); 
    gap: 0px;
    max-width: 800px;
    margin: 20px;
    align-items: center;
    border-style: solid;
    padding: 50px;
    label {
        color: white;
        padding: 5px;
    }
    
}


.input-item {
    text-align: center;
    align-items: center;
}

.resultLabel{
    grid-column: 1;
}

.TotalLabel {
    grid-column: 5;
}

#Button {
    grid-column: 5;
    width: 150px;
    height: 70px;
    font-weight: bold;
}

.turn-number{
    font-weight: bold;
    size: 70%;
}